<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="com.ionic.update"
    version="0.0.1">
    <name>Ionic Update Plugin</name>
    <description>Ionic Update Plugin</description>
    <license>Apache 2.0</license>
    <keywords>Ionic,update</keywords>
    <repo>https://github.com/driftyco/ionic-plugins-update</repo>
    <issue>https://github.com/driftyco/ionic-plugins-update/issues</issue>

    <js-module src="www/update.js" name="UpdatePlugin">
        <clobbers target="updateplugin" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="UpdatePlugin">
                <param name="android-package" value="com.ionic.update.UpdatePlugin"/>
            </feature>
        </config-file>

        <source-file src="src/android/UpdatePlugin.java" target-dir="src/com/ionic/update" />
    </platform>

    <!-- ios -->

</plugin>
